body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
div.main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_container {
    position:absolute;
    left:0px;
    top:0px;
    width:800px;
    height:480px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:800px;
    height:480px;
}

.u1 {
    position:absolute;
    left:2px;
    top:232px;
    width:796px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u0 {
    position:absolute;
    left:0px;
    top:0px;
    width:800px;
    height:480px
}

.u2 {
    position:absolute;
    left:660px;
    top:370px;
    width:120px;
    height:110px
}

.u3_container {
    position:absolute;
    left:229px;
    top:80px;
    width:331px;
    height:275px;
}

#u3_img {
    position:absolute;
    left:0px;
    top:0px;
    width:331px;
    height:275px;
}

.u4 {
    position:absolute;
    left:2px;
    top:130px;
    width:327px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3 {
    position:absolute;
    left:229px;
    top:80px;
    width:331px;
    height:275px
}

.u5 {
    position:absolute;
    left:70px;
    top:60px;
    width:130px;
    height:40px
}

.u6 {
    position:absolute;
    left:60px;
    top:110px;
    width:130px;
    height:40px
}

.u7 {
    position:absolute;
    left:61px;
    top:161px;
    width:130px;
    height:40px
}

.u8 {
    position:absolute;
    left:60px;
    top:210px;
    width:130px;
    height:40px
}

.u9 {
    position:absolute;
    left:63px;
    top:259px;
    width:130px;
    height:40px
}

.u10 {
    position:absolute;
    left:60px;
    top:302px;
    width:130px;
    height:40px
}

.u11 {
    position:absolute;
    left:60px;
    top:350px;
    width:130px;
    height:40px
}

.u12 {
    position:absolute;
    left:60px;
    top:400px;
    width:130px;
    height:40px
}

