body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
div.main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_container {
    position:absolute;
    left:0px;
    top:0px;
    width:800px;
    height:480px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:800px;
    height:480px;
}

.u1 {
    position:absolute;
    left:2px;
    top:232px;
    width:796px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u0 {
    position:absolute;
    left:0px;
    top:0px;
    width:800px;
    height:480px
}

.u2_original {
    background-image: url('../小轮结束_files/u2_original.png');
}

.u2_container {
    position:absolute;
    left:280px;
    top:140px;
    width:270px;
    height:120px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:276px;
    height:126px;
}

.u3 {
    position:absolute;
    left:2px;
    top:8px;
    width:266px;
    height:105px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:280px;
    top:140px;
    width:270px;
    height:120px
}

.u4_original {
    background-image: url('../小轮结束_files/u4_original.png');
}

.u4_container {
    position:absolute;
    left:320px;
    top:70px;
    width:160px;
    height:30px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:166px;
    height:36px;
}

.u5 {
    position:absolute;
    left:2px;
    top:8px;
    width:156px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:320px;
    top:70px;
    width:160px;
    height:30px
}

.u6_original {
    background-image: url('../小轮结束_files/u6_original.png');
}

.u6_container {
    position:absolute;
    left:280px;
    top:290px;
    width:180px;
    height:80px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:86px;
}

.u7 {
    position:absolute;
    left:2px;
    top:25px;
    width:176px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:280px;
    top:290px;
    width:180px;
    height:80px
}

.u8 {
    position:absolute;
    left:588px;
    top:9px;
    width:50px;
    height:50px
}

