body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
div.main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_container {
    position:absolute;
    left:0px;
    top:0px;
    width:800px;
    height:480px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:800px;
    height:480px;
}

.u1 {
    position:absolute;
    left:2px;
    top:232px;
    width:796px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u0 {
    position:absolute;
    left:0px;
    top:0px;
    width:800px;
    height:480px
}

.u2 {
    position:absolute;
    left:720px;
    top:110px;
    width:50px;
    height:40px
}

.u3 {
    position:absolute;
    left:715px;
    top:181px;
    width:50px;
    height:40px
}

.u4 {
    position:absolute;
    left:380px;
    top:410px;
    width:60px;
    height:50px
}

.u5 {
    position:absolute;
    left:450px;
    top:410px;
    width:60px;
    height:50px
}

.u6 {
    position:absolute;
    left:700px;
    top:270px;
    width:60px;
    height:50px
}

.u7 {
    position:absolute;
    left:640px;
    top:370px;
    width:90px;
    height:80px
}

.u8 {
    position:absolute;
    left:460px;
    top:180px;
    width:60px;
    height:70px
}

.u9_original {
    background-image: url('../商城_files/u9_original.png');
}

.u9_container {
    position:absolute;
    left:330px;
    top:340px;
    width:290px;
    height:50px;
}

#u9_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:296px;
    height:56px;
}

.u10 {
    position:absolute;
    left:2px;
    top:2px;
    width:286px;
    height:45px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9 {
    position:absolute;
    left:330px;
    top:340px;
    width:290px;
    height:50px
}

.u11 {
    position:absolute;
    left:460px;
    top:100px;
    width:70px;
    height:70px
}

.u12 {
    position:absolute;
    left:350px;
    top:100px;
    width:70px;
    height:70px
}

.u13 {
    position:absolute;
    left:350px;
    top:180px;
    width:70px;
    height:70px
}

.u14 {
    position:absolute;
    left:570px;
    top:100px;
    width:70px;
    height:70px
}

.u15_original {
    background-image: url('../商城_files/u15_original.png');
}

.u15_container {
    position:absolute;
    left:370px;
    top:235px;
    width:110px;
    height:55px;
}

#u15_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:116px;
    height:61px;
}

.u16 {
    position:absolute;
    left:2px;
    top:12px;
    width:106px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15 {
    position:absolute;
    left:370px;
    top:235px;
    width:110px;
    height:55px
}

.u17 {
    position:absolute;
    left:260px;
    top:10px;
    width:90px;
    height:40px
}

.u18 {
    position:absolute;
    left:370px;
    top:10px;
    width:100px;
    height:40px
}

.u19 {
    position:absolute;
    left:480px;
    top:10px;
    width:100px;
    height:40px
}

.u20 {
    position:absolute;
    left:590px;
    top:10px;
    width:100px;
    height:40px
}

.u21_original {
    background-image: url('../商城_files/u21_original.png');
}

.u21_container {
    position:absolute;
    left:570px;
    top:180px;
    width:70px;
    height:70px;
}

#u21_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:76px;
    height:76px;
}

.u22 {
    position:absolute;
    left:2px;
    top:28px;
    width:66px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21 {
    position:absolute;
    left:570px;
    top:180px;
    width:70px;
    height:70px
}

.u23 {
    position:absolute;
    left:570px;
    top:180px;
    width:70px;
    height:70px
}

