body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
div.main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_container {
    position:absolute;
    left:0px;
    top:0px;
    width:800px;
    height:480px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:800px;
    height:480px;
}

.u1 {
    position:absolute;
    left:2px;
    top:232px;
    width:796px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u0 {
    position:absolute;
    left:0px;
    top:0px;
    width:800px;
    height:480px
}

.u2 {
    position:absolute;
    left:360px;
    top:340px;
    width:80px;
    height:80px
}

.u3 {
    position:absolute;
    left:450px;
    top:380px;
    width:80px;
    height:80px
}

.u4 {
    position:absolute;
    left:640px;
    top:330px;
    width:140px;
    height:130px
}

.u5 {
    position:absolute;
    left:30px;
    top:390px;
    width:80px;
    height:80px
}

