body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
div.main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_container {
    position:absolute;
    left:0px;
    top:0px;
    width:800px;
    height:480px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:800px;
    height:480px;
}

.u1 {
    position:absolute;
    left:2px;
    top:232px;
    width:796px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u0 {
    position:absolute;
    left:0px;
    top:0px;
    width:800px;
    height:480px
}

.u2 {
    position:absolute;
    left:450px;
    top:30px;
    width:100px;
    height:40px
}

.u3 {
    position:absolute;
    left:560px;
    top:30px;
    width:100px;
    height:40px
}

.u4 {
    position:absolute;
    left:670px;
    top:30px;
    width:100px;
    height:40px
}

.u5 {
    position:absolute;
    left:720px;
    top:110px;
    width:50px;
    height:40px
}

.u6 {
    position:absolute;
    left:715px;
    top:181px;
    width:50px;
    height:40px
}

.u7 {
    position:absolute;
    left:380px;
    top:410px;
    width:60px;
    height:50px
}

.u8 {
    position:absolute;
    left:450px;
    top:410px;
    width:60px;
    height:50px
}

.u9 {
    position:absolute;
    left:350px;
    top:30px;
    width:90px;
    height:40px
}

.u10 {
    position:absolute;
    left:740px;
    top:280px;
    width:60px;
    height:50px
}

