body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
div.main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_container {
    position:absolute;
    left:0px;
    top:0px;
    width:800px;
    height:480px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:800px;
    height:480px;
}

.u1 {
    position:absolute;
    left:2px;
    top:232px;
    width:796px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u0 {
    position:absolute;
    left:0px;
    top:0px;
    width:800px;
    height:480px
}

.u2_original {
    background-image: url('../充值界面1_files/u2_original.png');
}

.u2_container {
    position:absolute;
    left:40px;
    top:20px;
    width:630px;
    height:440px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:636px;
    height:446px;
}

.u3 {
    position:absolute;
    left:2px;
    top:2px;
    width:626px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:40px;
    top:20px;
    width:630px;
    height:440px
}

.u4 {
    position:absolute;
    left:70px;
    top:60px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'宋体';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u5 {
    position:absolute;
    left:230px;
    top:60px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'宋体';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u6 {
    position:absolute;
    left:380px;
    top:60px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'宋体';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u7_original {
    background-image: url('../充值界面1_files/u7_original.png');
}

.u7_container {
    position:absolute;
    left:70px;
    top:90px;
    width:580px;
    height:50px;
}

#u7_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:586px;
    height:56px;
}

.u8 {
    position:absolute;
    left:2px;
    top:18px;
    width:576px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7 {
    position:absolute;
    left:70px;
    top:90px;
    width:580px;
    height:50px
}

.u9_original {
    background-image: url('../充值界面1_files/u9_original.png');
}

.u9_container {
    position:absolute;
    left:180px;
    top:170px;
    width:320px;
    height:170px;
}

#u9_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:176px;
}

.u10 {
    position:absolute;
    left:2px;
    top:2px;
    width:316px;
    height:90px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9 {
    position:absolute;
    left:180px;
    top:170px;
    width:320px;
    height:170px
}

.u11 {
    position:absolute;
    left:240px;
    top:200px;
    width:180px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'宋体';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u12 {
    position:absolute;
    left:240px;
    top:245px;
    width:180px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'宋体';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u13 {
    position:absolute;
    left:260px;
    top:365px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'宋体';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u14 {
    position:absolute;
    left:660px;
    top:370px;
    width:120px;
    height:110px
}

