body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
div.main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_container {
    position:absolute;
    left:0px;
    top:0px;
    width:800px;
    height:480px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:800px;
    height:480px;
}

.u1 {
    position:absolute;
    left:2px;
    top:232px;
    width:796px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u0 {
    position:absolute;
    left:0px;
    top:0px;
    width:800px;
    height:480px
}

.u2 {
    position:absolute;
    left:660px;
    top:370px;
    width:120px;
    height:110px
}

.u3_original {
    background-image: url('../密码修改_files/u3_original.png');
}

.u3_container {
    position:absolute;
    left:260px;
    top:90px;
    width:320px;
    height:250px;
}

#u3_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:256px;
}

.u4 {
    position:absolute;
    left:2px;
    top:72px;
    width:316px;
    height:105px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3 {
    position:absolute;
    left:260px;
    top:90px;
    width:320px;
    height:250px
}

.u5 {
    position:absolute;
    left:370px;
    top:165px;
    width:180px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'宋体';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u6 {
    position:absolute;
    left:370px;
    top:200px;
    width:180px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'宋体';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u7 {
    position:absolute;
    left:370px;
    top:230px;
    width:180px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'宋体';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u8 {
    position:absolute;
    left:310px;
    top:285px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'宋体';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u9 {
    position:absolute;
    left:440px;
    top:285px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'宋体';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

