body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
div.main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_container {
    position:absolute;
    left:0px;
    top:0px;
    width:800px;
    height:480px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:800px;
    height:480px;
}

.u1 {
    position:absolute;
    left:2px;
    top:232px;
    width:796px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u0 {
    position:absolute;
    left:0px;
    top:0px;
    width:800px;
    height:480px
}

.u2_original {
    background-image: url('../比赛中途退出_files/u2_original.png');
}

.u2_container {
    position:absolute;
    left:240px;
    top:120px;
    width:310px;
    height:250px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:316px;
    height:256px;
}

.u3 {
    position:absolute;
    left:2px;
    top:102px;
    width:306px;
    height:45px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:240px;
    top:120px;
    width:310px;
    height:250px
}

.u4 {
    position:absolute;
    left:280px;
    top:305px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'宋体';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u5 {
    position:absolute;
    left:410px;
    top:305px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'宋体';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

