body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
div.main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_container {
    position:absolute;
    left:0px;
    top:0px;
    width:800px;
    height:480px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:800px;
    height:480px;
}

.u1 {
    position:absolute;
    left:2px;
    top:232px;
    width:796px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u0 {
    position:absolute;
    left:0px;
    top:0px;
    width:800px;
    height:480px
}

.u2 {
    position:absolute;
    left:588px;
    top:9px;
    width:50px;
    height:50px
}

.u3 {
    position:absolute;
    left:190px;
    top:10px;
    width:50px;
    height:50px
}

.u4 {
    position:absolute;
    left:476px;
    top:7px;
    width:50px;
    height:50px
}

.u5 {
    position:absolute;
    left:532px;
    top:6px;
    width:50px;
    height:50px
}

.u6_original {
    background-image: url('../联网斗地主战斗_files/u6_original.png');
}

.u6_container {
    position:absolute;
    left:280px;
    top:150px;
    width:180px;
    height:80px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:86px;
}

.u7 {
    position:absolute;
    left:2px;
    top:32px;
    width:176px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:280px;
    top:150px;
    width:180px;
    height:80px
}

